# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [72]:
# Import the necessary libraries and CSVs. Make some dataframes!

import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np

df_baltimore = pd.read_csv('dataset/dataset/baltimore_9-24-2016_9-30-2017.csv')
df_boston = pd.read_csv('dataset/dataset/boston_9-24-2016_9-30-2017.csv')
df_newyork = pd.read_csv('dataset/dataset/new-york_9-24-2016_9-30-2017.csv')
df_philadelphia = pd.read_csv('dataset/dataset/philadelphia_9-24-2016_9-30-2017.csv')

In [73]:
df_baltimore.shape
df_boston.shape
df_newyork.shape
df_philadelphia.shape

(57, 25)

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [74]:
# Clean your Baltimore data here!
for col in df_baltimore.columns:
    pct_missing = np.mean(df_baltimore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [75]:
# Repack Columns Fix
df_baltimore["Repack"] = df_baltimore["Repack"].replace({"N":False})
df_boston["Repack"] = df_boston["Repack"].replace({"N":False})
df_newyork["Repack"] = df_newyork["Repack"].replace({"N":False})
df_philadelphia["Repack"] = df_philadelphia["Repack"].replace({"N":False})

#Check status with a quick head check
#df_baltimore.head(3)
#df_boston.head(3)
#df_newyork.head(3)
df_philadelphia.head(3)

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,PHILADELPHIA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,140,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [76]:
# Fill the Missing Values in the Type Column
df_baltimore["Type"] = df_baltimore["Type"].fillna("Conventional")

# Fill the Missing Values in the Type Column
df_boston["Type"] = df_boston["Type"].fillna("Conventional")

# Fill the Missing Values in the Type Column
df_newyork["Type"] = df_newyork["Type"].fillna("Conventional")

# Fill the Missing Values in the Type Column
df_philadelphia["Type"] = df_philadelphia["Type"].fillna("Conventional")

# Drop Grade Column 
df_baltimore = df_baltimore.drop(["Grade"], axis=1) 

# Drop Grade Column 
df_boston = df_boston.drop(["Grade"], axis=1) 

# Drop Grade Column 
df_newyork = df_newyork.drop(["Grade"], axis=1) 

# Drop Grade Column 
df_philadelphia = df_philadelphia.drop(["Grade"], axis=1)

In [77]:
# Clean your Boston data here!

for col in df_boston.columns:
    pct_missing = np.mean(df_boston[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 0%
Package - 0%
Variety - 0%
Sub Variety - 92%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [78]:
# Clean your New York data here!
for col in df_newyork.columns:
    pct_missing = np.mean(df_newyork[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 0%
Package - 0%
Variety - 0%
Sub Variety - 84%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [79]:
# Clean your Baltimore data here!
for col in df_baltimore.columns:
    pct_missing = np.mean(df_baltimore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 0%
Package - 0%
Variety - 1%
Sub Variety - 84%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [80]:
# Combine the four dataframes into one!
northwest_city_dataframe = pd.concat([df_baltimore, df_boston, df_newyork, df_philadelphia], axis=0)

northwest_city_dataframe.shape

(674, 24)

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [91]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
mean_prices = northwest_city_dataframe.groupby(["Unit of Sale"]).sum()

print(mean_prices)

              Low Price  High Price  Mostly Low  Mostly High  Environment  \
Unit of Sale
EACH               1150      1420.0        1150       1420.0          0.0
PER BIN           13195     14670.0       13740      14545.0          0.0
SHELLACKED          176       193.0         176        193.0          0.0

              Quality  Condition  Appearance  Storage  Crop  Trans Mode
Unit of Sale
EACH              0.0        0.0         0.0      0.0   0.0         0.0
PER BIN           0.0        0.0         0.0      0.0   0.0         0.0
SHELLACKED        0.0        0.0         0.0      0.0   0.0         0.0

In [92]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

aggregate_functions = ["mean"]

pumpkin_mean = northwest_city_dataframe.groupby(["City Name"])

pumpkin_mean.agg(aggregate_functions)

C:\Users\Ashley\AppData\Local\Temp\ipykernel_3424\3525103849.py:7: FutureWarning: ['Commodity Name', 'Type', 'Package', 'Variety', 'Sub Variety', 'Date', 'Origin', 'Origin District', 'Item Size', 'Color', 'Unit of Sale', 'Repack'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  pumpkin_mean.agg(aggregate_functions)

,Low Price,High Price,Mostly Low,Mostly High,Environment,Quality,Condition,Appearance,Storage,Crop,Trans Mode
,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
City Name,,,,,,,,,,,
BALTIMORE,101.490196,109.055556,101.490196,108.859477,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BOSTON,162.840909,187.235795,172.721591,176.130682,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NEW YORK,107.125000,116.482143,107.312500,116.410714,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PHILADELPHIA,98.140351,103.754386,98.491228,103.754386,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [6]:
# Try the bonus mission if you have time!