# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [11]:
# import pandas
import pandas as pd

# create your data variabe using .read_csv 
data_file = pd.read_csv('IMDB-Movie-Data.csv')

# create your data_indexed variable here
indexed_df = ["Title", "Genre", "Description", "Director", "Actors", "Year", "Runtime", "Rating", "Votes", "Revenue", "Metascrore"]

In [12]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [13]:
# Read data with specified explicit index
# data_indexed = pd.Series(data_file)

print(data_file)

     Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [14]:
# Use the head() function to view the first 5 rows of the data set

print(data_file.head(5))

   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0

In [15]:
# Use the tail() function to view the last 5 rows of the data set
print(data_file.tail(5))

     Rank                   Title                  Genre  \
995   996    Secret in Their Eyes    Crime,Drama,Mystery
996   997         Hostel: Part II                 Horror
997   998  Step Up 2: The Streets    Drama,Music,Romance
998   999            Search Party       Adventure,Comedy
999  1000              Nine Lives  Comedy,Family,Fantasy

                                           Description          Director  \
995  A tight-knit team of rising investigators, alo...         Billy Ray
996  Three American college students studying abroa...          Eli Roth
997  Romantic sparks occur between two dance studen...        Jon M. Chu
998  A pair of friends embark on a mission to reuni...    Scot Armstrong
999  A stuffy businessman finds himself trapped ins...  Barry Sonnenfeld

                                                Actors  Year  \
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating  Votes  Revenue (Millions)  Metascore
995                111     6.2  27585                 NaN       45.0
996                 94     5.5  73152               17.54       46.0
997                 98     6.2  70699               58.01       50.0
998                 93     5.6   4881                 NaN       22.0
999                 87     5.3  12435               19.64       11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [16]:
# The info() function: 
data_file.info()

# Info function provides summary data for df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [17]:
# shape:
data_file.shape

# what information does shape provide?  what is the order?

# Shape function provides the number of records in the dataframe and how many columns

(1000, 12)

In [18]:
# columns:
data_file.columns

# what information does columns provide?

# The columns function provides the names of all the Columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [19]:
# The describe() function: 

data_file.describe

# The describe function offers a summary of statistical calcs like  such as mean, standard deviation, min, max, and quartile values

<bound method NDFrame.describe of      Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]>

### 4. Data Selection -- Indexing and Slicing

In [20]:
#  Extract data as series
# define and print the variable 'genre'
genre_series = data_file['Genre']

print(genre_series)

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [21]:
# Extract the data as a dataframe and print it
movies_dataframe = pd.DataFrame(data_file)

# Pull aside the Name and Genre columns from the movies_dataframe
movie_names_and_genres = movies_dataframe[["Title", "Genre"]]

print(movie_names_and_genres)

                       Title                     Genre
0    Guardians of the Galaxy   Action,Adventure,Sci-Fi
1                 Prometheus  Adventure,Mystery,Sci-Fi
2                      Split           Horror,Thriller
3                       Sing   Animation,Comedy,Family
4              Suicide Squad  Action,Adventure,Fantasy
..                       ...                       ...
995     Secret in Their Eyes       Crime,Drama,Mystery
996          Hostel: Part II                    Horror
997   Step Up 2: The Streets       Drama,Music,Romance
998             Search Party          Adventure,Comedy
999               Nine Lives     Comedy,Family,Fantasy

[1000 rows x 2 columns]

In [22]:
# Extract data using rows
movies_dataframe.loc[3]

# loc function
# Locate rows based on label-indexing

Rank                                                                  4
Title                                                              Sing
Genre                                           Animation,Comedy,Family
Description           In a city of humanoid animals, a hustling thea...
Director                                           Christophe Lourdelet
Actors                Matthew McConaughey,Reese Witherspoon, Seth Ma...
Year                                                               2016
Runtime (Minutes)                                                   108
Rating                                                              7.2
Votes                                                             60545
Revenue (Millions)                                               270.32
Metascore                                                          59.0
Name: 3, dtype: object

In [23]:
# iloc function
movies_dataframe.iloc[3]

# iloc function
# Locate rows based on index-position

Rank                                                                  4
Title                                                              Sing
Genre                                           Animation,Comedy,Family
Description           In a city of humanoid animals, a hustling thea...
Director                                           Christophe Lourdelet
Actors                Matthew McConaughey,Reese Witherspoon, Seth Ma...
Year                                                               2016
Runtime (Minutes)                                                   108
Rating                                                              7.2
Votes                                                             60545
Revenue (Millions)                                               270.32
Metascore                                                          59.0
Name: 3, dtype: object

### 5. Data Selection - Based on Conditional Filtering

In [24]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.
#movies_dataframe['Year'] <=2016
#Year 2010-2016
#Rating less than 6.0
#movies_dataframe['Rating'] < 6 &
#Top revenue

movie_custom = movies_dataframe[(movies_dataframe['Year'] == 2010) & (movies_dataframe['Rating'] < 6) ]
# movie_rating = movies_dataframe[movies_dataframe['Rating'] < 6]
# movie_revenue = movies_dataframe.max

print(movie_custom)
# print(movie_rating)
# print(movie_revenue)

     Rank                                              Title  \
244   245  Percy Jackson & the Olympians: The Lightning T...
428   429                                        Srpski film
575   576                                Clash of the Titans
581   582                                 The Last Airbender
888   889                                         Piranha 3D
941   942                         The Twilight Saga: Eclipse
952   953                                 Sex and the City 2
956   957                                             Legion
993   994                           Resident Evil: Afterlife

                        Genre  \
244  Adventure,Family,Fantasy
428   Horror,Mystery,Thriller
575  Action,Adventure,Fantasy
581   Action,Adventure,Family
888    Comedy,Horror,Thriller
941   Adventure,Drama,Fantasy
952      Comedy,Drama,Romance
956     Action,Fantasy,Horror
993   Action,Adventure,Horror

                                           Description              Director  \
244  A teenager discovers he's the descendant of a ...        Chris Columbus
428  An aging porn star agrees to participate in an...     Srdjan Spasojevic
575  Perseus demigod, son of Zeus, battles the mini...       Louis Leterrier
581  Follows the adventures of Aang, a young succes...    M. Night Shyamalan
888  After a sudden underwater tremor sets free sco...         Alexandre Aja
941  As a string of mysterious killings grips Seatt...           David Slade
952  While wrestling with the pressures of life, lo...  Michael Patrick King
956  When a group of strangers at a dusty roadside ...         Scott Stewart
993  While still out to destroy the evil Umbrella C...    Paul W.S. Anderson

                                                Actors  Year  \
244  Logan Lerman, Kevin McKidd, Steve Coogan,Brand...  2010
428  Srdjan 'Zika' Todorovic, Sergej Trifunovic,Jel...  2010
575  Sam Worthington, Liam Neeson, Ralph Fiennes,Ja...  2010
581  Noah Ringer, Nicola Peltz, Jackson Rathbone,De...  2010
888  Elisabeth Shue, Jerry O'Connell, Richard Dreyf...  2010
941  Kristen Stewart, Robert Pattinson, Taylor Laut...  2010
952  Sarah Jessica Parker, Kim Cattrall, Kristin Da...  2010
956  Paul Bettany, Dennis Quaid, Charles S. Dutton,...  2010
993  Milla Jovovich, Ali Larter, Wentworth Miller,K...  2010

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
244                118     5.9  148949               88.76       47.0
428                104     5.2   43648                 NaN       55.0
575                106     5.8  238206              163.19       39.0
581                103     4.2  125129                 NaN       20.0
888                 88     5.5   75262               25.00       53.0
941                124     4.9  192740              300.52       58.0
952                146     4.3   62403               95.33       27.0
956                100     5.2   84158               40.17       32.0
993                 97     5.9  140900               60.13       37.0

In [25]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?